{{ define "main" }}
  <div class="not-prose mb-4">
        <h1 class="font-bold text-4xl">{{ .Title }}</h1>
        <p class="text-lg text-slate-600">
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format ":date_long" }}
            Published on <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </p>
    </div>

  {{ .Content }}

  {{/* Automatically include bibliography if citations were used */}}
  {{ if (.Scratch.Get "citations") }}
    {{ partial "bibliography.html" . }}
  {{ end }}
  
{{ end }}
