---
import BaseLayout from '../layouts/BaseLayout.astro';

import { Image } from 'astro:assets';

import profilePicture from '../images/profile_dhoekstra.jpeg';
---
<BaseLayout>
      <section class="flex flex-col md:flex-row items-center">
	<div class="md:w-1/3 p-4">
	  <Image src={profilePicture} alt="Photo of Douwe Hoekstra" layout='constrained'/>
	</div>
	<div class="md:w-2/3 p-4">
	<p class="font-serif py-1">
	  I am a PhD candidate at the <a class="text-slate-800 underline hover:no-underline" href="https://utrechtgeometrycentre.nl/">Utrecht Geometry Centre</a> under the supervision <a class="text-slate-800 underline hover:no-underline" href="https://alvarodelpino.com/">Dr. Álvaro del Pino Gomez</a>. My work focusses on the h-principle and in particular convex integration as a method to prove h-principles.
	</p>

	<p class="font-serif py-1">
	  My interests lie more generally within the field of geometric/differential topology. The line between geometric topology, differential topology and differential geometry is blurry and the different fields have an important interplay, but at its simplest I am interested in the interplay between the geometric structure on a manifold and the underlying topology of the manifold (or other spaces associated to the geometric structure). To name a few examples in this spirit:
	  <ul class="list-disc font-serif px-8">
	    <li>The de Rham isomorphism theorem</li>
	    <li>Morse functions</li>
	    <li>Myers' theorem: Riemannian manifolds with positive Ricci curvature are compact</li>
	    <li>Smale-Hirsch immersion theorem & Smale's sphere eversion</li>
	  </ul>
	</p>

	<p class="font-serif py-1">See the <a class="text-slate-800 underline hover:no-underline" href="#contact">contact section</a> for information on how to get in touch.</p>
	</div>
      </section>
      <section class="px-4 py-2">
	<h2 class="font-semibold text-2xl font-serif">Education</h2>
	<ul class="font-serif list-disc px-4">
	  <li>2021 &ndash; 2024: MSc in Mathematics, Radboud University Nijmegen.</li>
	  <li>2018 &ndash; 2021: BSc in Mathematics, Radboud University Nijmegen.</li>
	  <li>2018 &ndash; 2021: BSc in Physics, Radboud University Nijmegen.</li>
	</ul>
      </section>
      <section class="px-4 py-2">
	<h2 class="font-semibold text-2xl font-serif">Publications</h2>
	<ul class="list-disc px-4">
	  <li>D.H. and Florian Zeiser, <a href="https://doi.org/10.1016/j.geomphys.2023.104862">&quot;Poisson cohomology of 3D Lie algebras&quot;</a>. In: <i>Journal of Geometry and Physics 191 (2023).</i> <a class="text-slate-800 underline hover:no-underline" href="https://arxiv.org/abs/2211.04122">arXiv:2122.04122</a>.</li>
	</ul>
      </section>
      <section class="px-4 py-2">
	<h2 class="font-semibold text-2xl font-serif">Teaching</h2>
	<ul class="list-disc px-4 font-serif">
	  <li>Lecturer for <strong>Proofs in Mathematics</strong> (Fall 2025, Utrecht University)</li>
	  <li>TA for <strong>Analysis in several variables</strong> (Summer 2025, Utrecht University)</li>
	  <li>TA for <strong>Topology and Geometry</strong> (Spring 2025, Utrecht University).
	  <ul class="list-disc px-4">
	    <li>Here are some <a class="text-slate-800 underline hover:no-underline" href="/assets/documents/topology_review.pdf">notes reviewing notions from point-set topology</a> I have written for this course.</li>
	  </ul>
	  <li>TA for <strong>Introduction to Topology</strong> (Winter 2024, Utrecht University).</li>
	  <li>TA for <strong>Calculus B</strong> (Spring 2024, Radboud University Nijmegen).</li>
	  <li>TA for <strong>Group theory</strong> (Spring 2024, Radboud University Nijmegen).</li>
	  <li>TA for <strong>Poisson Geometry</strong> (Fall 2023, Radboud University Nijmegen).</li>
	  <li>TA for <strong>Functional Analysis</strong> (Fall 2021, Radboud University Nijmegen).
	</ul>
      </section>

      <section class="px-4 py-2">
	<h2 class="font-semibold text-2xl font-serif">Ancillary activities</h2>
	<ul class="list-disc px-4">
	  <li>I am one of the organizers of the Friday Fish seminar at the Utrecht Geometry Centre. Check out the <a class="text-slate-800 underline hover:no-underline" href="https://utrechtgeometrycentre.nl/friday-fish-seminar-online-edition/">webpage of the seminar</a> to see what we are up to.
	</ul>
      </section>
      <section class="px-4 py-2">
	<h2 class="font-semibold font-serif text-2xl">Contact</h2>
	<p class="font-serif">You can reach me at d.hoekstra [at] uu.nl</p>

	<div class="font-serif">My work address is:
	  <address class="px-4">
	    Hans Freudenthal building<br />
	    Room 8.04<br />
	    Budapestlaan 6<br />
	    3584 CD Utrecht<br />
	    The Netherlands
	  </address>
	</div>

	<h3 class="font-semibold text-xl font-serif py-1">Other web presence</h3>
	<p class="font-serif">You can also find me here online:</p>
	<ul class="list-disc font-serif px-4">
	  <li><a class="text-slate-800 underline hover:no-underline" href="https://www.uu.nl/staff/DHoekstra">My profile page at the UU</a></li>
	  <li><a class="text-slate-800 underline hover:no-underline" href="https://orcid.org/0000-0002-9598-4705">My ORCiD</a></li>
	  <li><a class="text-slate-800 underline hover:no-underline" href="https://linkedin.com/in/d-hoekstra">My Linkdin profile</a></li>
	  <li><a class="text-slate-800 underline hover:no-underline" href="https://github.com/dhoekstra2000/">My Github profile</a></li>
	</ul>
      </section>
</BaseLayout>

