---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Douwe Hoekstra" />
		<title>Douwe Hoekstra</title>
		<link rel="stylesheet" href="/assets/css/normalize.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	</head>
	<body>
    <header>
      <div class="header-content">
	<h1>Douwe Hoekstra</h1>
      </div>
    </header>
    <main>
    <slot />
    </main>
    <footer>
      <div class="footer-content">
      <p class="footer-text">
	Copyright 2026 &mdash; Douwe Hoekstra
      </p>
      </div>
    </footer>
	</body>
</html>

<style lang="scss" is:global>
$header-color: #4281a4;
$header-text-color: #efefef;
$body-color: #e4dfda;
$link-color: #89023e;
$secondary-color: #48a9a6;
$bg-color: #efefef;

$light-shades: #f0f1ed;
$light-accent: #79989c;
$main-brand-color: #48a9a6;
$dark-accent: #7a775e;
$dark-shades: #1f3337;

$main-font-family: "Aleo", "Gill Sans", sans-serif;
$head-font-family: "Oswald", sans-serif;
$serif-font-family: Georgia, serif;

body {
    margin: 0;
    background-color: $light-shades;
}

* {
    color: $dark-shades;
    font-family: $main-font-family;
    font-optical-sizing: auto;
}

header {
    background-color: $main-brand-color;
}

.header-content{
    max-width: 64rem;
    margin: 0 auto;
    padding: 8px;
}

header h1 {
    margin: 0;
    color: $light-shades;
    text-align: center;
    font-family: $main-font-family;
}

main {
    max-width: 64rem;
    margin: 0 auto;
    background-color: $light-shades;
    padding: 8px;
}

a,:visited {
    color: $dark-accent;
}

a:hover {
    color: $light-accent;
    text-decoration: none;
}

footer {
    background-color: $main-brand-color;
}

.footer-content {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer-text {
    color: $light-shades;
}
</style>