---
import BaseLayout from "./BaseLayout.astro";

import '../styles/global.css';
---
<BaseLayout>
    <div class="prose prose-slate max-w-none text-black prose-a:text-slate-700 prose-a:underline prose-a:hover:no-underline prose-h2:mt-0">
        <slot />
    </div>
</BaseLayout>