---
---
    <footer>
      <div class="footer-content">
      <p class="footer-text">
	Copyright 2026 &mdash; Douwe Hoekstra
      </p>
      </div>
    </footer>
<style lang="scss">
$header-color: #4281a4;
$header-text-color: #efefef;
$body-color: #e4dfda;
$link-color: #89023e;
$secondary-color: #48a9a6;
$bg-color: #efefef;

$light-shades: #f0f1ed;
$light-accent: #79989c;
$main-brand-color: #48a9a6;
$dark-accent: #7a775e;
$dark-shades: #1f3337;

$main-font-family: "Aleo", "Gill Sans", sans-serif;
$head-font-family: "Oswald", sans-serif;
$serif-font-family: Georgia, serif;

footer {
    background-color: $main-brand-color;
}

.footer-content {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer-text {
    color: $light-shades;
}
</style>