---

---

<footer class="bg-sky-600">
    <div class="w-fit m-auto p-2">
        <p class="text-slate-100 font-serif font-medium text-base">
            Copyright 2026 &mdash; Douwe Hoekstra
        </p>
    </div>
</footer>
