---
import "../styles/global.css";
---

<header class="bg-sky-600">
  <div class="max-w-5xl p-2 m-auto">
    <a href="/"><div
      class="font-serif text-center font-bold m-0 text-4xl text-slate-100"
    >
      Douwe Hoekstra
    </div>
    </a>
  </div>
</header>
